*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../img/bg.png)center center;
    font-size: 20px;
}
.logo{
    width: 150px;
    height: 132px;
    margin: 30px auto;
}
.logo>img{
    width: 100%;
}

/*WRAP*/
.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
.constructor{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    
}
.constructor p{
    text-align: center;
}
.meal-item{
    margin-bottom: 10px;
    
}
.meal-item div{
    display: inline-block;
}
.control{
    margin-top: 10px;
}

/*BUTTONS*/
.control .add-btn, .remove-btn{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 29px;
    border-radius: 5px;
    background: rgba(196, 51, 51, 1);
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,.1);
    box-shadow: inset 0px 1px 0px #822727, inset 1px 0px 0px #822727, inset 0px -1px 0px #822727, inset -1px 0px 0px #822727;
    cursor: pointer;
    text-align: center;
    color: #fff;
    
    font-weight: 800;
}

.add-btn{
    margin: 0 auto;
}
.remove-btn{
    width: 25px;
    height: 25px;
    line-height: 19px;
    vertical-align: baseline;
}

/*FIELDS*/
.field{
    position: relative;
    color: #fff;
}
.field input, select{
    text-align: center;
    height: 25px;
    outline: none;
}
.field input{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(196, 51, 51, 1);
    color: #fff;
}
.field::before{
    
    font-size: 0.8em;
    display: block;
    position: absolute;
    left: 7px;
    top: 5px;
    z-index: 1000;
    width: 10px;
    height: 10px;
}
.amount::before{
    content: "вес\(г\):";  
}
.prots::before{
    content: "б:";
}
.carbs::before{
    content: "у:";
}
.fats::before{
    content: "ж:";
}
.kkal::before{
    content: "к:";
}
.results{
    margin-top: 30px;
    text-align: center;
    color: #fff;
}